@model Registration.Service.Models.CustomerCreateViewModel


<style>
    #del-sn {
        color: #ff0000;
    }
</style>

<div class="body-title">
    新增客戶資料與訂單資料
</div>

<div class="body-content">
    <form asp-action="Create">
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="row">
                    <div class="col-1 text-primary">
                        <h5>客戶資料</h5>
                    </div>
                    <div class="col-11">
                        <hr />
                    </div>
                </div>
            </div>
            <div style="padding-left:100px;">
                <div class="form-group row">
                    <div class="col-md-1 text-right">
                        <label asp-for="CustomerNew.Industry" class="col-form-label">行業別</label>
                    </div>
                    <div class="col-md-3">
                        <select asp-for="CustomerNew.Industry" class="form-control mb-2 mr-sm-2 mb-sm-2">
                            <option value="1">餐飲業</option>
                            <option value="2">資訊業</option>
                            <option value="3">營造業</option>
                        </select>
                        <span asp-validation-for="CustomerNew.Industry" class="text-danger"></span>
                    </div>

                    <div class="col-md-1 text-right">
                        <label asp-for="CustomerNew.Area" class="col-form-label">區域</label>
                    </div>
                    <div class="col-md-3">
                        <select asp-for="CustomerNew.Area" class="form-control mb-2 mr-sm-2 mb-sm-2">
                            <option value="1">北區</option>
                            <option value="2">中區</option>
                            <option value="3">南區</option>
                        </select>
                        <span asp-validation-for="CustomerNew.Area" class="text-danger"></span>
                    </div>

                    <div class="col-md-1 text-right">
                        <label asp-for="CustomerNew.Contact" class="col-form-label">聯絡人</label>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="CustomerNew.Contact" class="form-control" />
                        <span asp-validation-for="CustomerNew.Contact" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-1 text-right">
                        <label asp-for="CustomerNew.Attribute" class="col-form-label">客戶屬性</label>
                    </div>
                    <div class="col-md-3">
                        <select asp-for="CustomerNew.Attribute" class="form-control mb-2 mr-sm-2 mb-sm-2">
                            <option value="1">一般</option>
                            <option value="2">倒閉客</option>
                            <option value="3">test</option>
                        </select>
                        <span asp-validation-for="CustomerNew.Attribute" class="text-danger"></span>
                    </div>

                    <div class="col-md-1 text-right">
                        <label asp-for="CustomerNew.Number" class="col-form-label">客戶編號</label>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="CustomerNew.Number" class="form-control" />
                        <span asp-validation-for="CustomerNew.Number" class="text-danger"></span>
                    </div>

                    <div class="col-md-1 text-right">
                        <label asp-for="CustomerNew.Name" class="col-form-label">客戶名稱</label>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="CustomerNew.Name" class="form-control" />
                        <span asp-validation-for="CustomerNew.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-1 text-right">
                        <label asp-for="CustomerNew.Phone" class="col-form-label">電話</label>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="CustomerNew.Phone" class="form-control" />
                        <span asp-validation-for="CustomerNew.Phone" class="text-danger"></span>
                    </div>

                    <div class="col-md-1 text-right">
                        <label asp-for="CustomerNew.Address" class="col-form-label">地址</label>
                    </div>
                    <div class="col-md-7">

                        <div class="row">
                            <div class="col-3">
                                <select id="City" class="form-control" asp-for="CustomerNew.CityId" asp-items="Model.City">
                                    <option>= 縣市 =</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select id="CityArea" class="form-control" asp-for="CustomerNew.CityAreaId" asp-items="Model.CityArea">
                                    <option>= 地區 =</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <input asp-for="CustomerNew.Address" class="form-control" maxlength="30" />
                                <span asp-validation-for="CustomerNew.Address" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <div class="row">
                <div class="col-1 text-primary">
                    <h5>訂單資料</h5>
                </div>
                <div class="col-11">
                    
                </div>
            </div>
        </div>
        <div style="padding-left:100px;">
            <div class="form-group row">
                <div class="col-md-1 text-right">
                    <label asp-for="OrderDto.PurchaseDate" class="col-form-label">購買日期</label>
                </div>
                <div class="col-md-3">
                    <input asp-for="OrderDto.PurchaseDate" class="form-control" type="date" />
                    <span asp-validation-for="OrderDto.PurchaseDate" class="text-danger"></span>
                </div>

                <div class="col-md-1 text-right">
                    <label asp-for="OrderDto.Salesperson" class="col-form-label">業務人員</label>
                </div>
                <div class="col-md-3">
                    <table>
                        <tr>
                            <td>
                                <input asp-for="OrderDto.Salesperson" class="form-control" readonly />
                            </td>
                            <td>
                                <a class="AllUser" href="#" data-toggle="modal" data-target="#UserModal" data-id="1">
                                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <span asp-validation-for="OrderDto.Salesperson" class="text-danger"></span>
                </div>

                <div class="col-md-1 text-right">
                    <label asp-for="OrderDto.IsReceipt" class="col-form-label">是否已收款</label>
                </div>
                <div class="col-md-3" style="padding-top:7px;">
                    <label class="custom-control custom-checkbox">
                        <input asp-for="OrderDto.IsReceipt" type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                    </label>
                </div>

            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-1 text-primary">
                    <h5>訂單明細</h5>
                </div>
                <div class="col-11">
                    
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group" style="overflow-y:auto; height:500px;display:block;">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse table-bordered">
                        <tr>
                            <th>功能</th>
                            <th width="7%">數量</th>
                            <th width="10%">授權種類</th>
                            <th>主版本</th>
                            <th width="8%">版次</th>
                            <th width="8%">保固年分</th>
                            <th>保固期限</th>
                            <th width="8%">租用期數</th>
                            <th>租用期限</th>
                            <th>自動更新</th>
                        </tr>
                    </thead>
                    <tbody class="table-bordered">
                        @{
                            Html.RenderPartial("_OrderDetail", Model.OrderDetailDto);
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <button type="submit" value="Create" class="btn btn-primary" id="Send">新增<i class="fa fa-check"></i></button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-success">返回列表 <i class="fa fa-reply"></i></a>
            </div>
        </div>
    </form>
</div>

<div id="UserModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/CreateOrder.js"></script>
    <script type="text/javascript" language="javascript">
        // 地址連動
    $(document).ready(function () {
        $('#City').change(function () { ChangeCustomer(); });
    });

    function ChangeCustomer() {
        var selectedValue = $('#City option:selected').val();
        if ($.trim(selectedValue).length > 0) {
            GetOrders(selectedValue);
        }
        }

        function GetOrders(cityId) {
        $.ajax({
            url: '@Url.Action("CityArea", "Customer")',
            data: { cityId: cityId },
            type: 'post',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {
                    $('#CityArea').empty();
                    $('#CityArea').append($('<option></option>').val('').text('= 地區 ='));
                    $.each(data, function (value, item) {
                        console.log(item.value);
                        $('#CityArea').append($('<option value=' + item.value + '></option>').text(item.text));
                    });
                }
            }
        });
    }
    </script>
    <script>
        // 新增序號
        $('#add-sn').click(function () {
            $.ajax({
            //url: '/Menu/AddTaste',
            url: '@Url.Action("AddSn", "Customer")',
            cache: false,
            data: { "Id": 1 },
            success: function (data) {
                //$target.append(data);
                $('#mySN').append(data);
            },
            error: function () {
                alert("error");
            }
        });
        });

        $(document).on('click', '#del-sn', null, function (event) {
            event.preventDefault();
            $(this).parent().parent().parent().remove();
        });
    </script>
    <script>
        var TeamDetailPostBackURL = '@Url.Action("AllUser", "Home")';
        $(function () {
            $(".AllUser").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('.UserModal').modal('show');
                        $("#hiddenInp").val(id);
                        $("#quantity-count").val(0);

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('.UserModal').modal('hide');
            });
        });
    </script>
    <script>
        $('#checkuser').click(function () {
            Console.log("btn-ok");

        });
    </script>
}
